# Zen of python

In [ ]:
import this

# The Python Programming Language: Types and Sequences

Use `type` to return the object's type.

In [ ]:
type('This is a string')

In [ ]:
type(None)

In [ ]:
type(1)

In [ ]:
type(1.0)

In [ ]:
x = 123
# das ist ein kommentar
x = x+3
print(x)

In [ ]:
x = 5
y = 2
x+y

In [ ]:
# division ist ein float
x/y

In [ ]:
# integer division
x//y

In [ ]:
z  = 3.0
type(x + z)

In [ ]:
print(x == z)

In [ ]:
print(x == z)

In [ ]:
"Hallo " + str(45)

# The Python Programming Language: Functions

`add_numbers` is a function that takes two numbers and adds them together.

In [3]:
def add_numbers(x, y):
    return x + y

add_numbers(1, 1)

2

In [4]:
add_numbers('a','b')

'ab'

In [6]:
add_numbers(1,2)

3

In [7]:
def add_numbers(x,y,z):
    return x+y+z

In [21]:
add_numbers(x,y,z)

10.0

In [9]:
add_numbers(1,2,3)

6

In [10]:
def add_numbers(x,y,z=0):
    return x+y+z

In [13]:
add_numbers(y=2,x=1)

3

`add_numbers` updated to take an optional 3rd parameter. Using `print` allows printing of multiple expressions within a single cell.

In [14]:
def add_numbers(x,y=None,z=None):
    return

print(add_numbers(1))
print(add_numbers(1, 2))
print(add_numbers(1, 2, 3))

None
None
None

`add_numbers` updated to take an optional flag parameter.

In [15]:
def add_numbers(x, y, z=None, flag=False):
    if flag:
        print('Flag is true!')
    if not z:
        return x + y
    else:
        return x + y + z
    
print(add_numbers(1, 2, flag=True))

Flag is true!
3

Assign function `add_numbers` to variable `a`.

In [ ]:
def add_numbers(x,y):
    return x+y

a = add_numbers
a(1,2)

# Tuples & Lists

## Lists
Lists are a mutable data structure.

In [ ]:
liste = []

In [ ]:
liste

In [ ]:
liste = [1,'a',2,'b']
liste

Use `append` to append an object to a list.

In [ ]:
liste.append('neu')

In [ ]:
print(liste)

In [ ]:
liste[4] = 3

In [ ]:
liste

This is an example of how to loop through each item in the list.

In [ ]:
for item in liste:
    print(item * 2)

In [ ]:
liste[:]

In [ ]:
liste[:2]

**len()** Für die Anzahl der Einträge

In [ ]:
len(liste)

Or using the indexing operator:

In [ ]:
i=0
while i != len(liste):
    print(i)
    i = i+1

Use `+` to concatenate lists.

In [ ]:
liste = [1,2] + [3,4] +[5,6]
liste

Use `*` to repeat lists.

In [ ]:
doppelt = liste * 2
doppelt

In [ ]:
for item in liste:
    if item == 1:
        print(True)

Use the `in` operator to check if something is inside a list.

In [ ]:
1 in liste

In [ ]:
gesuchte_zahl = 3

In [ ]:
gesuchte_zahl in liste

Ab der dritten Stelle bis zum Ende

In [ ]:
liste[2:]

Von 2ter bis 5ter stelle

In [ ]:
liste[1:4]

In [ ]:
sliced = liste[2:]

In [ ]:
sliced

Jedes Element in sliced mal 2 rechnen. Ergebnis = [6, 8, 10, 12]

In [17]:
sliced * 2

NameError: name 'sliced' is not defined

In [ ]:
for item in sliced:
    print(item * 2)

In [16]:
ergebnis = [] # ergebnis = list()
for item in sliced:
    ergebnis.append(item*2)
ergebnis

NameError: name 'sliced' is not defined

Python way = List comprehension

In [ ]:
ergebnis = [item * 2 for item in sliced]
ergebnis

## Tuples

In [18]:
t = (1, "cat")

In [ ]:
t

In [ ]:
fish = (1,2,"red","blue")
fish

In [ ]:
fish[:2]

In [ ]:
"red" in fish

In [ ]:
sammlung = 123, 456, "hallo", "ab"
sammlung

In [ ]:
element = "flasche"

In [ ]:
sammlung = 1,2,element
sammlung

In [ ]:
def val():
    return "a","b"
_, b = val()
b

In [29]:
# swapping values
x = 3
y = 0
x, y = y,x

## Strings
Now let's look at strings. Use bracket notation to slice a string.

In [3]:
letter = "This is a string"
print(letter[0])
print(letter[0:2])
print(letter[0:4])

T
Th
This

This will return the last element of the string.

In [4]:
letter[-4:-2]

'ri'

In [5]:
letter[0:-5]

'This is a s'

This is a slice from the beginning of the string and stopping before the 3rd element.

In [ ]:
letter[:4]

And this is a slice starting from the 4th element of the string and going all the way to the end.

In [ ]:
letter[5:]

**Concatenate**

In [ ]:
firstname ="Kerim"
lastname="Ibrahim"
fullname = firstname +","+lastname
fullname

`in` operator also with strings

In [ ]:
"Kerim" in fullname

`split` returns a list of all the words in a string, or a list split on a specific character.

In [ ]:
namen = fullname.split(",")
namen

In [ ]:
namen[0]

In [ ]:
namen[1]

Make sure you convert objects to strings before concatenating.

In [ ]:
firstname + lastname

In [ ]:
firstname + lastname + 3

In [ ]:
firstname + lastname + str(3)

Python has a built in method for convenient string formatting.

In [6]:
'{} Marie'.format('hello')

'hello Marie'

In [ ]:
sales_record = {
'price': 3.24,
'num_items': 4,
'person': 'Chris'}

sales_statement = '{} bought {} item(s) at a price of {} each for a total of {}'

print(sales_statement.format(sales_record['person'],
                             sales_record['num_items'],
                             sales_record['price'],
                             sales_record['num_items']*sales_record['price']
                             ))

## Dictionary (aka hashtable)

In [ ]:
lastname.__hash__()

In [ ]:
person = {"Jernej Peter": "j.peter@fh.com", "Feichtinger Katalin":"f.katalin@fh.com", "Bill Gates": "b.gates@microsoft.com"}

In [ ]:
person["Feichtinger Katalin"]

In [ ]:
person["Bill Gates"]

In [ ]:
person_info = {"Name":"Lukas", "Alter":25, "sex":"m" }

In [ ]:
person_info["Name"]

In [ ]:
person_info["Alter"]

In [ ]:
person_info["sex"]

Iterate over all of the keys:

In [ ]:
for key in person_info:
    print(key)

In [ ]:
for key in person_info:
    print(person_info[key])

In [ ]:
for key in person:
    print(person[key])

Iterate over all of the values:

In [ ]:
for value in person.values():
    print(value)

Iterate over all of the items in the list:

In [ ]:
person.items()

In [ ]:
for name,_ in person.items():
    print(name)

In [ ]:
shopping_list ={"apples":2, "avocados":100, "toast":1}

In [ ]:
shopping_list["apples"]

In [ ]:
i=0
for anzahl in shopping_list.values():
    i = i+anzahl
print(i)

In [ ]:
sum(shopping_list.values())

In [ ]:
shopping_list["chips"] = 100

In [ ]:
shopping_list

In [ ]:
shopping_list["beer"] = 200

In [ ]:
shopping_list

In [ ]:
sum(shopping_list.values())

In [ ]:
elements = []
for item in shopping_list.keys():
    elements.append(item)
elements

In [ ]:
[item for item in shopping_list.keys()]

In [ ]:
shopping_list["beer"]

In [ ]:
shopping_list["beer"] = 10

In [ ]:
shopping_list["beer"]

## Unpacking

You can unpack a sequence into different variables:

In [ ]:
def values():
    return 1,2

In [ ]:
val_one, val_two = values()
val_one

In [ ]:
val_two

In [ ]:
bands = ('ACDC', 'Rolling Stones', 'Metallica')
first, second, third = bands
first

Make sure the number of values you are unpacking matches the number of variables being assigned.

In [ ]:
acdc, rstones = bands

In [ ]:
acdc, *rest = bands

In [ ]:
acdc

In [ ]:
rest

# Reading and Writing CSV files

Let's import our datafile mpg.csv, which contains fuel economy data for 234 cars.

* mpg : miles per gallon
* class : car classification
* cty : city mpg
* cyl : # of cylinders
* displ : engine displacement in liters
* drv : f = front-wheel drive, r = rear wheel drive, 4 = 4wd
* fl : fuel (e = ethanol E85, d = diesel, r = regular, p = premium, c = CNG)
* hwy : highway mpg
* manufacturer : automobile manufacturer
* model : model of car
* trans : type of transmission
* year : model year

In [ ]:
!cat class_mpg.csv

In [ ]:
import csv

In [ ]:
with open('class_mpg.csv') as csvfile:
    mpg = list(csv.DictReader(csvfile))

In [ ]:
mpg

In [ ]:
mpg[10]['manufacturer']

`csv.Dictreader` has read in each row of our csv file as a dictionary. `len` shows that our list is comprised of 234 dictionaries.

In [ ]:
len(mpg)

`keys` gives us the column names of our csv.

In [ ]:
mpg[0].keys()

In [ ]:
mpg[0]['cty']

This is how to find the average cty fuel economy across all cars. All values in the dictionaries are strings, so we need to convert to float.

In [ ]:
mpg[0]['cty']

In [ ]:
value = 0
for item in mpg:
    value = value + int(item['cty'])
value / len(mpg)

In [ ]:
cty_list = list() # or []
for item in mpg:
    cty_list.append(int(item['cty']))
sum(cty_list)

In [ ]:
comp_cty_list = [int(row['cty']) for row in mpg]

In [ ]:
sum(comp_cty_list) / len(comp_cty_list)

In [ ]:
comp_cty_list

Similarly this is how to find the average hwy fuel economy across all cars.

In [ ]:
avg_hwy = sum([int(row['hwy']) for row in mpg]) / len(mpg)
avg_hwy

Use `set` to return the unique values for the number of cylinders the cars in our dataset have.

In [ ]:
all_cyl = [row['cyl'] for row in mpg]
cylinders = set(all_cyl)
cylinders
# set([int(row['cyl']) for row in mpg])

Here's a more complex example where we are grouping the cars by number of cylinder, and finding the average cty mpg for each group.

In [ ]:
CtyMpgByCyl = []

for c in cylinders: # iterate over all the cylinder levels
    summpg = 0
    cyltypecount = 0
    for d in mpg: # iterate over all dictionaries
        if d['cyl'] == c: # if the cylinder level type matches,
            summpg += float(d['cty']) # add the cty mpg
            cyltypecount += 1 # increment the count
    CtyMpgByCyl.append((c, summpg / cyltypecount)) # append the tuple ('cylinder', 'avg mpg')

#CtyMpgByCyl.sort(key=lambda x: x[0])
CtyMpgByCyl

In [ ]:
vehicleclass = set([row['class'] for row in mpg])
vehicleclass

And here's an example of how to find the average hwy mpg for each class of vehicle in our dataset.

In [ ]:
HwyMpgByClass = []

for t in vehicleclass: # iterate over all the vehicle classes
    summpg = 0
    vclasscount = 0
    for d in mpg: # iterate over all dictionaries
        if d['class'] == t: # if the cylinder amount type matches,
            summpg += float(d['hwy']) # add the hwy mpg
            vclasscount += 1 # increment the count
    HwyMpgByClass.append((t, summpg / vclasscount)) # append the tuple ('class', 'avg mpg')

HwyMpgByClass.sort(key=lambda x: x[1])
HwyMpgByClass

# The Python Programming Language: Dates and Times

In [ ]:
# import csv as c
# c.DictReader --
import datetime as dt
import time as tm

`time` returns the current time in seconds since the Epoch. (January 1st, 1970)

In [ ]:
tm.time()

Convert the timestamp to datetime.

In [ ]:
dt_now = dt.datetime.fromtimestamp(tm.time())
dt_now

Handy datetime attributes:

In [ ]:
dt_now.year

In [ ]:
dt_now.second

`timedelta` is a duration expressing the difference between two dates.

In [ ]:
delta = dt.timedelta(days=100)
delta

`date.today` returns the current local date.

In [ ]:
today = dt.date.today()

In [ ]:
today - delta

In [ ]:
today > (today - delta)

# The Python Programming Language: Objects and map()

An example of a class in python:

In [1]:
class Person:
    department = "School"
    
    def set_name(self, new_name):
        self.name = new_name
    def say_name(self):
        print(self.name)

In [ ]:
student = Person()

In [ ]:
student.name

In [ ]:
lecturer.department = "Uni"

In [ ]:
Person.department = "High school"

In [ ]:
lecturer = Person()

In [ ]:
lecturer.department

In [ ]:
student.department

In [ ]:
lecturer.set_name('Prof. Proton')
lecturer.say_name()

In [ ]:
student.department
student.set_name('Otto')
student.say_name()

Player example

In [ ]:
class Player:
    def __init__(self, name):
        self.name = name
    def set_weapon(self, weapon):
        self.weapon = weapon

In [ ]:
player_one = Player('Claus')
player_one.name

In [ ]:
player_two = Player('Heinz')
player_two.set_weapon('Papier')
player_two.name = 'Max'
player_two.weapon

In [ ]:
player_one.set_weapon('Schere')
player_one.weapon

In [ ]:
class Game:
    def evaluate(self, player_one, player_two):
        # compare weapons?
        print("Player {} wins".format(player_one.name))

In [7]:
def greeting(name: str) -> str:
    return name

In [8]:
greeting(1)

1

In [ ]:
g = Game()
g.evaluate(player_one, player_two)

Here's an example of mapping the `min` function between two lists.

In [ ]:
min(2,3)

 Now let's iterate through the map object to see the values.

In [7]:
price = [10, 12, 13, 14, 0]
price2 = [11, 22, 9]

In [8]:
cheapest = map(min, price, price2)

In [9]:
for item in cheapest:
    print(item)

10
12
9

# The Python Programming Language: Lambda and List Comprehensions

Here's an example of lambda that takes in three parameters and adds the first two.

In [ ]:
my_func = lambda a,b: a+b

In [ ]:
my_func

In [ ]:
my_func(1,4)

Let's iterate from 0 to 999 and return the even numbers.

In [1]:
sports = {'Archery': 'Bhutan',
          'Golf': 'Scotland',
          'Sumo': 'Japan',
          'Ski': 'Austria',
          'Drinking Beer': 'Austria',
          'Taekwondo': 'South Korea',
         }

for key in sports.keys(): # in sports
    #print(f'Country {sports[key]} likes to play {key}')
    if sports[key] == 'Austria':
        print(key)

Ski
Drinking Beer

In [19]:
# add additional filter for strs
my_lambda_list =  filter(lambda x: x %2 == 0, range(0,1000))

In [ ]:
[x for x in my_lambda_list]

In [18]:
for item in my_lambda_list:
    print(item)

Now the same thing but with list comprehension.

In [ ]:
my_nr = [num for num in range(0,1000) if num % 2 == 0]
my_nr

# The Python Programming Language: Numerical Python (NumPy)

In [ ]:
import numpy as np

## Creating Arrays

Create a list and convert it to a numpy array

In [ ]:
my_list = [1,2,3]
np_array = np.array(my_list)
np_array

Or just pass in a list directly

In [ ]:
y = np.array([1,2,3])
y

Pass in a list of lists to create a multidimensional array.

In [ ]:
m = np.array([[7,8,9],[10,11,12]])
m

Use the shape method to find the dimensions of the array. (rows, columns)

In [ ]:
m.shape

`arange` returns evenly spaced values within a given interval.

In [ ]:
n = np.arange(0,30,2)
n

In [ ]:
n.shape

`reshape` returns an array with the same data with a new shape.

In [ ]:
n = n.reshape(3,5) # 3x5 = 15,
n

`linspace` returns evenly spaced numbers over a specified interval.

In [ ]:
o = np.linspace(0,4,9) # 9 evenly spaced values from 0 to 4
o

`resize` changes the shape and size of array in-place.

In [ ]:
o.resize(3,3)
o

`ones` returns a new array of given shape and type, filled with ones.

In [ ]:
np.ones((3,2))

`zeros` returns a new array of given shape and type, filled with zeros.

In [ ]:
np.zeros((2,3))

`eye` returns a 2-D array with ones on the diagonal and zeros elsewhere.

In [ ]:
np.eye(3)

`diag` extracts a diagonal or constructs a diagonal array.

In [ ]:
y

In [ ]:
np.diag(y)

Create an array using repeating list (or see `np.tile`)

In [ ]:
np.array([1,2,3] * 3)

Repeat elements of an array using `repeat`.

In [ ]:
np.repeat([1,2,3],3)

#### Combining Arrays

In [ ]:
p = np.ones([2,3], int)
p

In [ ]:
p * 2

Use `vstack` to stack arrays in sequence vertically (row wise).

In [ ]:
np.vstack([p, p*2])

Use `hstack` to stack arrays in sequence horizontally (column wise).

In [ ]:
np.hstack([p, p*2])

## Operations

Use `+`, `-`, `*`, `/` and `**` to perform element wise addition, subtraction, multiplication, division and power.

In [ ]:
x = np.array([1,2,3])
y = np.array([4,5,6])

In [ ]:
x+y

In [ ]:
x * y

In [ ]:
x/y

In [ ]:
x ** 3

**Dot Product:**  

$ \begin{bmatrix}x_1 \ x_2 \ x_3\end{bmatrix}
\cdot
\begin{bmatrix}y_1 \\ y_2 \\ y_3\end{bmatrix}
= x_1 y_1 + x_2 y_2 + x_3 y_3$

In [ ]:
x.dot(y)# 1*4 + 2*5 + 3*6

In [ ]:
z = np.array([y, y**2])
z

In [ ]:
z.shape

Let's look at transposing arrays. Transposing permutes the dimensions of the array.

In [ ]:
z.T

The shape of array `z` is `(2,3)` before transposing.

In [ ]:
z.shape

Use `.T` to get the transpose.

In [ ]:
z.T.shape

The number of rows has swapped with the number of columns.

In [ ]:
z.T.shape

Use `.dtype` to see the data type of the elements in the array.

In [ ]:
z

In [ ]:
z.dtype

Use `.astype` to cast to a specific type.

In [ ]:
z = z.astype('f')
z

## Math Functions

Numpy has many built in math functions that can be performed on arrays.

In [ ]:
a = np.array([-4, -2, 1, 3, 5])

Sum

In [ ]:
a.sum()

Max

In [ ]:
a.max()

Min

In [ ]:
a.min()

Mean

In [ ]:
a.mean()

Std

In [ ]:
a.std()

`argmax` and `argmin` return the index of the maximum and minimum values in the array.

argmax()

In [ ]:
a[4]

In [ ]:
a.argmax()

a.argmin()

In [ ]:
a.argmin()

In [ ]:
a[0]

## Indexing / Slicing

In [ ]:
s = np.arange(13) ** 2
s

Use bracket notation to get the value at a specific index. Remember that indexing starts at 0.

In [ ]:
s[0]

In [ ]:
s[4], s[-1], s[3]

Use `:` to indicate a range. `array[start:stop]`


Leaving `start` or `stop` empty will default to the beginning/end of the array.

In [ ]:
s[1:5]

Use negatives to count from the back.

In [ ]:
s[-2]

A second `:` can be used to indicate step-size. `array[start:stop:stepsize]`

Here we are starting 5th element from the end, and counting backwards by 2 until the beginning of the array is reached.

In [ ]:
s[-5::-2]

Let's look at a multidimensional array.

In [ ]:
r = np.arange(36)
r.resize((6,6))
r

Use bracket notation to slice: `array[row, column]`

In [ ]:
r[2,2]

And use : to select a range of rows or columns

In [ ]:
x

In [ ]:
x = r[3,:]
x[3:5]

In [ ]:
x[3:6]

Here we are selecting all the rows up to (and not including) row 2, and all the columns up to (and not including) the last column.

In [ ]:
r[:2,:-1]

This is a slice of the last row, and only every other element.

In [ ]:
r[-1, ::2]

We can also perform conditional indexing. Here we are selecting values from the array that are greater than 30. (Also see `np.where`)

In [ ]:
r

In [ ]:
r > 30

In [ ]:
r[r>30]

Here we are assigning all values in the array that are greater than 30 to the value of 30.

In [ ]:
r[r>30] = 100

In [ ]:
r

## Copying Data

Be careful with copying and modifying arrays in NumPy!


`r2` is a slice of `r`

In [ ]:
r2 = r[:3,:3]
r2

In [ ]:
# r2 = 0

Set this slice's values to zero ([:] selects the entire array)

In [ ]:
r2[:] = 0
r2

`r` has also been changed!

In [ ]:
r

To avoid this, use `r.copy` to create a copy that will not affect the original array

In [ ]:
r_copy = r.copy()
r_copy

In [ ]:
r_copy

Now when r_copy is modified, r will not be changed.

In [ ]:
r

### Iterating Over Arrays

Let's create a new 4 by 3 array of random numbers 0-9.

In [2]:
import numpy as np

In [3]:
t = np.random.randint(0, 10, (4,3))
t

array([[5, 4, 8],
       [5, 0, 7],
       [2, 0, 0],
       [7, 6, 3]])

In [6]:
t2 = t **2

In [12]:
t2.dot(t.T)

array([[701, 573,  50, 463],
       [517, 468,  50, 322],
       [ 20,  20,   8,  28],
       [461, 308,  98, 586]])

Iterate by row:

In [ ]:
for row in t:
    print(row)

Iterate by index:

In [ ]:
for i in range(len(t)):
    print(t[i])

Iterate by row and index:

In [ ]:
for i, row in enumerate(t):
    print('row', i, 'is', row)

Use `zip` to iterate over multiple iterables.

In [ ]:
t2 = t**2
t2

In [ ]:
for i, j in zip(t, t2):
    print(i,'+',j,'=',i+j)